@model EmployeeDetailsDTO
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Details</h1>

<div class="row align-items-center my-3">
    <div class="col-2">
        <img src="~/Assets/images/@Model.Image" class="circle" alt="Employee Image"/>
    </div>
</div>

<!-- Bootstrap Tabs -->
<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General Information</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="false">Administration Information</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <!-- General Tab Content -->
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="row g-3 justify-content-start mt-3">
            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" readonly>
                <label asp-for="Name" class="formInput ms-2"></label>
            </div>

            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email" readonly>
                <label asp-for="Email" class="formInput ms-2"></label>
            </div>
            
            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Department" class="form-control" placeholder="Department" readonly>
                <label asp-for="Department" class="formInput ms-2"></label>
            </div>
            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Address" class="form-control" placeholder="Address" readonly>
                <label asp-for="Address" class="formInput ms-2"></label>
            </div>

            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Age" class="form-control" placeholder="Age" readonly>
                <label asp-for="Age" class="formInput ms-2"></label>
            </div>

            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Salary" class="form-control" placeholder="Salary" readonly>
                <label asp-for="Salary" class="formInput ms-2"></label>
            </div>

            <div class="form-floating col-md-6 mb-3">
                <input asp-for="Phone" class="form-control" placeholder="Phone" readonly>
                <label asp-for="Phone" class="formInput ms-2"></label>
            </div>

            <div class="form-floating col-md-6 mb-3">
                <input type="date" asp-for="HiringDate" class="form-control" placeholder="Hiring Date" readonly>
                <label asp-for="HiringDate" class="formInput ms-2"></label>
            </div>

            <div class="form-check col-md-8 mb-3 ms-3">
                <input diabled asp-for="IsActive" class="form-check-input" type="checkbox" >
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>

            <div class="form-group col-md-8 mb-3">
                <label asp-for="Gender" class="form-label"></label>
                <div>
                    @foreach (Gender genderOption in Enum.GetValues(typeof(Gender)))
                    {
                            <div class="form-check form-check-inline">
                                    <input disabled class="form-check-input" type="radio" asp-for="Gender" value="@genderOption" />
                                <label class="form-check-label">@genderOption</label>
                            </div>
                    }
                </div>
            </div>

            <div class="form-group col-md-12 mb-3">
                <label asp-for="EmployeeType" class="form-label"></label>
                <select disabled asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmpType>()" class="form-control">
                    <option value="">Select Employee Type</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Admin Tab Content -->
    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <div class="form-group col-12 mt-3">
            <label asp-for="CreatedOn" class="formInput"></label>
            <input asp-for="CreatedOn" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="CreatedBy" class="formInput"></label>
            <input asp-for="CreatedBy" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="LastModifiedOn" class="formInput"></label>
            <input asp-for="LastModifiedOn" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="LastModifiedBy" class="formInput"></label>
            <input asp-for="LastModifiedBy" class="form-control" readonly>
        </div>
    </div>
</div>

<div class="mt-4 text-end">
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back To List</a>
</div>
