@model IEnumerable<EmployeeGeneralDTO>

@{
    ViewData["Title"] = "Employees";
    var controllerName = ViewContext?.RouteData?.Values["controller"]?.ToString();

    // Compiler Enforce type safety
    string? viewDataMessage = ViewData["Message"] as string;
    // Compiler will skip type checking and will not enforce type safety
    string? tempDataMessage = ViewBag.Message ;
}

<partial name="_ToastPartial" />


<div class="container">
    <h1 class="text-center">Employees Page</h1>
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="Employee" asp-action="Create" type="button" class="btn btn-outline-dark mt-3">
            <i class="fa-solid fa-plus"></i>
            Create New Employee</a>
    </div>


    <form asp-action="Index" method="Get">
        <div class="m-auto row col-md-8 justify-content-center align-items-center">
            <div class="col-md-8">
                <input type="text" id="searchInput" name="search" placeholder="Search..." class="form-control my-3" /> 
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>

        </div>
    </form>

    @if (Model.Count() > 0)
    {
              <partial name="Partials/EmployeeListPartial" model="@Model" />
    }
    else
    {
            <div class="alert alert-warning">
                <h3>There is No Employees :(</h3>
            </div>
    }
</div>

<script>
    var controllerName = '@controllerName';
</script>



