@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
    ViewData["Action"] = "Update";
}

<h1 class="mb-3 text-center">Update Employee</h1>
<div class="w-100 mb-5"></div>

<div class="container">
     <partial name="Partials/CreateUpdateEmployeeFormPartial"/>

</div>



@section Scripts {
      <partial name="_ValidationScriptsPartial"/>
}



