@model DepartmentDetailsDTO
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Details</h1>

@* Bootstrab Tabs *@
<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General Information</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="false">Administration Informaiton</button>
  </li>
</ul>




<div class="tab-content" id="myTabContent">
    @*     Genral Tab Content *@ 
  <div class="tab-pane fade show active " id="general" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">

         <div class="form-group col-6 mt-3">
             <label asp-for="Code" class="formInput"></label>
             <input asp-for="Code" class="form-control" readonly>
         </div>

         <div class="form-group col-6 mt-3">
                 <label asp-for="Name" class="formInput"></label>
                 <input asp-for="Name" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="Description" class="formInput"></label>
            <input asp-for="Description" class="form-control" readonly>
       </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="CreationDate" class="formInput"></label>
            <input asp-for="CreationDate" class="form-control" readonly>
        </div>

      </div>
  </div>

    @*     Admin Tab Content *@
  <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="profile-tab">


        <div class="form-groupcol-12 mt-3">
             <label asp-for="CreatedOn" class="formInput"></label>
             <input asp-for="CreatedOn" class="form-control" readonly>
         </div>

         <div class="form-group col-12 mt-3">
                    <label asp-for="CreatedBy" class="formInput"></label>
                    <input asp-for="CreatedBy" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="LastModifiedOn" class="formInput"></label>
            <input asp-for="LastModifiedOn" class="form-control" readonly>
        </div>

        <div class="form-group col-12 mt-3">
            <label asp-for="LastModifiedBy" class="formInput"></label>
            <input asp-for="LastModifiedBy" class="form-control" readonly>
        </div>


  </div>

  <div class="mt-4 text-end">
      <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
      <a asp-action="Index" class="btn btn-dark">Back To List</a>
  </div>

    
</div>

