@model DepartmentUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

<h1 class="mb-3 text-center">Update Department</h1>
<div class="w-100 mb-5"></div>

<div class="container">
   <form asp-action="Update" >
       <div asp-validation-summary="ModelOnly"></div>
       <div class="row justify-content-center">
           <div class="form-floating mb-3 col-md-8">
               <input asp-for="Code" class="form-control"  placeholder="Code">
               <label asp-for="Code" class="formInput ms-2">Code</label>
               <span asp-validation-for="Code" class="text-danger"></span>
           </div>
           <div class="form-floating mb-3 col-md-8">
               <input asp-for="Name" class="form-control"  placeholder="Name">
               <label asp-for="Name" class="formInput ms-2"></label>
               <span asp-validation-for="Name" class="text-danger"></span>
           </div>
           <div class="form-floating mb-3 col-md-8">
               <input type="date" asp-for="CreationDate" class="form-control"  placeholder="Date Of Creation">
               <label asp-for="CreationDate" class="formInput ms-2"></label>
           </div>
               <div class="form-floating mb-3 col-md-8">
               <textarea asp-for="Description" class="form-control px-2"  placeholder="Description"> </textarea>
               <label asp-for="Description" class="formInput ms-2">Description</label>

           </div>
           <div class="w-100"></div> 
           <div class="col-md-8 text-end">
               <button type="submit" class="btn btn-success text-light ms-auto">Save</button>
               <a asp-action="Index" class="btn btn-dark text-light">Cancel</a>
           </div>
       </div>
   </form>
</div>


