@model int
<td>
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-dark">
        <i class="fa-solid fa-eye me-2"></i> Details
    </a>
</td>
<td>
    <a asp-action="Update" asp-route-id="@Model" class="btn btn-dark">
        <i class="fa-solid fa-pen-to-square me-2"></i>Update
    </a>
</td>
<td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model">
        <i class="fa-solid fa-trash me-2"></i>Delete
    </button>
</td>
